<style>
    html, body { padding: 0; margin: 0; }
    div { width: 100%; height: 100%; float: left; }
    #div1 { background: #E27D60; }

    /* unvisited link */
    a:link {
    color: white;
    }

    /* visited link */
    a:visited {
    color: white;
    }

    /* mouse over link */
    a:hover {
    color: teal;
    }

    /* selected link */
    a:active {
    color: white;
    }

    a:link {
    text-decoration: none;
    }

    #div1 {
        text-align: center;
        vertical-align: middle;
        line-height: 750px; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 50px;
    }

</style>

<body>
    <div id="div1" name="test">
        <!-- <p font-color=white>Welcome to Taqtics</p> -->
        <a href="/testorsurvey"> Welcome to Taqtics</a>
        <!-- <br> -->

    </div>
</body>
