<!-- MULT CHOICE FOR TEST -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add Question</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel='stylesheet' href='/stylesheets/questioncreation.css' />
  </head>
  <body class="testcolor">
    <center><h1> Add Multiple Choice </h1>
    <form id="formAddUser" name="addquestion" method="post" action="/modifytest">
      <input class="question" type="text" placeholder="Question Prompt" name="newQuestion" />
      <br>
      <br>
      <input class="choices" type="text" placeholder="choice 1" name="mcChoice1" />
      <br>
      <br>
      <input  class="choices" type="text" placeholder="choice 2" name="mcChoice2" />
      <br>
      <br>
      <input  class="choices" type="text" placeholder="choice 3" name="mcChoice3" />
      <br>
      <br>
      <input  class="choices" type="text" placeholder="choice 4" name="mcChoice4" />
      <br>
      <br>
      <input  class="choices" type="text" placeholder="choice 5" name="mcChoice5" />
      <br>
      <br>
      <input  class="choices" type="text" placeholder="correctAnswer" name="answer" />
      <br>
      <br>
      <button id="btnSubmit" type="submit" >Submit</button> </center>
    </form>
  </body>
</html>
