<!DOCTYPE html>
<html>
  <head>
    <title>Add Question</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="addMatching" method="post" action="/addMatching">
      <input id="inputUserName" type="text" placeholder="Quesiton Prompt" name="newMatching" /><br>
      <input id="inputUserEmail" type="text" placeholder="first key" name="firstKey" /><br>
      <input id="inputUserEmail" type="text" placeholder="first value" name="firstValue" /><br>
      <input id="inputUserEmail" type="text" placeholder="second key" name="secondKey" /><br>
      <input id="inputUserEmail" type="text" placeholder="second value" name="secondValue" /><br>
      <input id="inputUserEmail" type="text" placeholder="third key" name="thirdKey" /><br>
      <input id="inputUserEmail" type="text" placeholder="third value" name="thirdValue" /><br>
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>