<!-- MULT CHOICE FOR TEST -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add Question</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel='stylesheet' href='/stylesheets/questioncreation.css' />
  </head>
  <body class="testcolor">
    <center><h1> What Type of Question Would You Like to Modify? </h1>
    <form id="formAddUser" name="selectquestion" method="post" action="/selectquestiontomodify">
        <p> <strong>Enter the type of the question you would like to modify.</strong> </p>
      <input class="questionType" type="text" placeholder="Question Type..." name="questiontype" />
      <br>
      <br>
      <button id="btnSubmit" type="submit" >Submit</button> </center>
    </form>
  </body>
</html>
