<style>
    html, body { height: 100%; padding: 0; margin: 0; }
    div { width: 50%; height: 100%; float: left; }
    #div1 { background: #85DCB0; }
    #div2 { background: #E8A87C; }

    /* unvisited link */
    a:link {
    color: white;
    }

    /* visited link */
    a:visited {
    color: white;
    }

    /* mouse over link */
    a:hover {
    color: teal;
    }

    /* selected link */
    a:active {
    color: white;
    }

    a:link {
    text-decoration: none;
    }

    #div1, #div2 {
        text-align: center;
        vertical-align: middle;
        line-height: 900px; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 50px;
    }

</style>

<body>
    <div id="div1" name="test">
        <a href="/testentry">TEST</a>
    </div>
    <div id="div2" name="survey">
        <a href="/surveyquestions">SURVEY</a>
    </div>
</body>
