<!DOCTYPE html>
<html>
  <head>
    <title>Name Your Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddName" name="addFormName" method="post" action="/testFormName">
        <input id="formName" type="text" placeholder="Form Name" name="newTestFormName" />
      <button id="btnSubmit2" type="submit">Submit</button>
    </form>
  </body>
</html>